.MoviesList  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.MoviesList__thumbnail {
  max-width: 200px;
}

@media (max-width: 500px) {
  .MoviesList__thumbnail {
    max-width: 100%;
  } 
}